<section class="homepage">
	<div id="ribbon">
		<div class="ribbon-content">
			<h1>Gone, but not forgotten</h1>
			<h2>How will you be remembered?</h2>
			<div class="fb-button">
				<img src="/assets/FB.png">
			</div>
			<h3>We promise to protect your information and never post on your behalf.</h3>

		<img src="/assets/banner-container.png">
		<% unless signed_in? %>
		</div>
	</div>
	<% end %>
</section>


<!-- <div>
	<%# if signed_in? %>
	<p>Welcome,<%# current_user.full_name.capitalize %> | <%# link_to "Sign Out", signout_url, method: 'delete' %></p>
	<%# end %>
</div> -->
