	<section class="homepage">
		<div id="ribbon">
			<img src="/assets/banner-container.png">
			<h1>Gone, but not forgotten</h1>
		</div>
		<h2>How will you be remembered?</h2>
		<% unless signed_in? %>
		<div class="fb-button">
		<span><img src="/assets/FB.png"></span>
		</div>
		<% end %>
	</section>
</div>

<!-- <div>
	<%# if signed_in? %>
	<p>Welcome,<%# current_user.full_name.capitalize %> | <%# link_to "Sign Out", signout_url, method: 'delete' %></p>
	<%# end %>
</div> -->
