<body>
	<div class="container">
	<header id="page_header">
		<h1 id="logo">
			BeyondLife
		</h1>
			<nav>
				<ul>
					<li><%= link_to "Sign In", signin_url%></li>
					<li><%= link_to "Sign Up", "#" %></li>
					<li><%= link_to "Commemorate +", "#" %></li>
					<li><%= link_to "Mission", "#" %></li>
				</ul>
			</nav>
	</header>

	<div id="caption">
<!-- 		<h2>Gone, but not forgotten.</h2> -->
	</div>

	</div>
<footer></footer>

</body>
</html>





<!-- <div>
	<%# if signed_in? %>
	<p>Welcome,<%# current_user.full_name.capitalize %> | <%# link_to "Sign Out", signout_url, method: 'delete' %></p>
	<%# end %>
</div> -->
