		<div class="row">
			<h2 class="caption span12">Gone, but not forgotten.</h2>
			<h3 class="caption2 span12">Commemorate your loved ones.</h3>
			<%= link_to(image_tag("/assets/fb-button.jpg", :class => "fb-button"),'/auth/facebook') %>
			<h4 class="caption3 span12">Facebook provides legitimacy and credibility, we believe this is important when Commemorating your loved ones.</h4>
		</div>
	</div>
</body>
<footer></footer>
</html>





<!-- <div>
	<%# if signed_in? %>
	<p>Welcome,<%# current_user.full_name.capitalize %> | <%# link_to "Sign Out", signout_url, method: 'delete' %></p>
	<%# end %>
</div> -->
