<section class="homepage">
	<div id="ribbon">
		<div class="ribbon-content">
			<h1 class="forgotten">Gone, but not forgotten</h1>
			<h2 class="remembered">How will you be remembered?</h2>
			<div id="fb-button">
				<%= link_to(image_tag("/assets/FB.png"), "/auth/facebook") %>
			</div>
			<h3 class="terms">We promise to protect your information and never post on your behalf.</h3>
		</div>
	</div>
</section>


<!-- <div>
	<%# if signed_in? %>
	<p>Welcome,<%# current_user.full_name.capitalize %> | <%# link_to "Sign Out", signout_url, method: 'delete' %></p>
	<%# end %>
</div> -->
