div#show-wrapper{

	border: 1px solid yellow;
	margin: 0;
	height: 100%;
	width: 100%;
}

div#show-container{
	background:url('/assets/show-container.png');
	background-repeat: no-repeat;
	height: 830px;
	width:753px;

	position: relative;
	margin: 15px auto 0 auto;
}

div#show-image {

	width: 514.5px;
	height: 667px;
	margin: 3px auto 0 auto;
	padding:1px 0px 0px 6.5px;
}

div#show-image img {

	max-width: 511px;
	max-height: 568px;
	position: relative;
	display: block;
	margin-top: 10px
}

div.name {
	width:593px;
	height:103px;
	margin: 0 auto;
	text-align: center;
}

.name h1 {
	font-family: 'Open Sans';
	font-size:2.125em;
	font-weight: 200;
	color: #7f7c7c;
	font:blue;
	padding-top: 10px;
	display: inline-block;
	position: relative;
	margin-bottom: 0px;
}
.name h2 {

	font-family: 'Open Sans';
	font-size:1.325em;
	font-weight: 100;
	color: #7f7c7c;
	position: relative;
	margin: -4px auto 0 auto;

}

span.dates {
	font-family: 'Open Sans';
	font-weight: 100;
	position: absolute;
	font-size:0.425em;
	color: #a9a5a5;

}
span .dates, .dob{


	margin: -14px 0px 0px 11px;
}

span .dates, .dod{

	margin: -14px 0px 0px -35px;
}

span .dates, .bornin {

	margin: 13px 0px 0px -66px;
}

span .dates, .diedin {


	margin: 13px 0px 0px -51px;
}

