
/**********	Entire Application	**********/

body {
	/*background: url('/assets/path.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;*/
	background-color: #f4f1f0;
	margin: 0px, auto

}

#wrapper {
 width: 100%;
 height:100%;
 margin: 0px;
 padding: 0px;


}
h1 {margin: 0px;}

nav {

	height: 90px;
	width: 100%;
	background-color: #b8b2b0;
	position: fixed;
}

nav div#logo {

	height:56px;
	width:240;
	float: left;

}

nav div#logo img {

	margin:20px;
}

nav div#logo h1 {

	font-family: 'Raleway (OT1)';
	font-weight: 100;
	font-size: 3.012em;
	margin-left: 30px;


}

nav div#logo h1 a {

	text-decoration: none;
	color:#f4f1f0;
	line-height: 135%;
}

nav ul {

	float: right;
	margin: 20px 10px 0px 0px;
}

nav ul li {

	float:left;
	margin-right: 11px;
	list-style: none;
	line-height: 45px;

}

nav ul li a {

	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color:#eee8e7;
	font-size:.97em;
	text-decoration: none;
	-webkit-transition:all 275ms ease-in;
	-o-transition:all 275ms ease-in;
	opacity: 0.9;
}

nav ul li a:hover {
 color:#585554;
 opacity: 0.8;
 text-decoration: none;

}

/**********		Homepage	**********/


section.homepage {
	height:1200px;
	width:100%;
	top:70px;
	position: relative;

}

.homepage div#ribbon {
	background-repeat: no-repeat;
	width: 100%;
	height: 1000px;
	position: fixed;
	top: 105px;
}

.homepage div#ribbon img {

	display: block;
	margin: 0 auto;
	position: relative;
	top: -200px;
}
section.homepage h1{

	color: #7f7c7c;
	font-family:'Raleway (TT)';
	font-weight:100;
	font-size:2.950em;
	text-align: center;
	z-index: 1000;
	top: 26px;
	position: relative;
	margin: auto auto;

}


section.homepage h2 {

	text-align: center;
	font-weight: 100;
	font-family: 'Lato';
	font-size:1.5500em;
	color: #77716e;
	position: relative;
	top: 90px;
	margin: 0 auto;
	z-index: 1000;
}

section.homepage h3{

	text-align: center;
	font-weight: 100;
	font-family: 'Lato';
	font-size:.91em;
	color: #4c5e7c;
	position: relative;
	top: 360px;
	margin: 0 auto;
	z-index: 1000;
}

div#ribbon .ribbon-content .fb-button img {

	position: relative;
	top: 365px;
	z-index: 1000;

/***********	Show (People) page 		***********/


/***********	Commemorate page 		***********/


/***********	Mission		***********/







/*
.missionbg
{
	background: url('/assets/Peace.jpeg') no-repeat center center fixed;>
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.missionbg h1 {
	font-weight:300;
	margin-top:350px;
	text-align:center;
	font-size: 2.3em;

}
.missiontxt {

	font-weight:300;
	text-align:center;
	font-size: 1.3em;
}


.joinbg
{
	background: url('/assets/trees.JPG') no-repeat center center fixed;>
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.commemorate {

	background: url('/assets/green.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}





header#page_header {
 width: 100%;
 margin: 4px auto;

}
.navlist {
 list-style: none;
 margin: 0;
 padding: 0;
 line-height: 4.8;
 float:right;
}
#page_header nav ul li {
 display:inline;
 margin: 0 20px 0 0;
 padding: 1px;

}

#page_header nav ul li a {

 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 font-size: 1.16em;
 color: #fbf9fe;
 text-decoration: none;
 -webkit-transition:all 275ms ease-in;
 -o-transition:all 275ms ease-in;
 opacity: 0.9;
}

#page_header nav ul li a:hover {
 color:#a3a3a7;
 opacity: 0.8;
}

h2.caption {

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 3.6em;
	color: #fff;
	position:absolute;
	top:28%;
	width:650%;
	margin-left: 34%;
}

h3.caption2 {

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2.1em;
	color: #fff;
	position:absolute;
	top: 34%;
	width:650%;
	margin-left: 38%;

}

h4.caption3 {

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: .7em;
	color: #fff;
	position:absolute;
	top: 46.5%;
	width:650%;
	margin-left: 35%;

}

.fb-button {
	margin-left:42%;
	position: absolute;
	top:41.5%;
	padding:0;
	border:0;

}
.fb-button:hover

{


}

footer#page_footer {
 clear: both;
 width: 100%;
 margin: 4px auto;
 border: 2px solid blue;
}
*/
